.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container{
    padding: 40px;
}

.height{
    height: 3rem;
    border-radius: 50px;
    text-align: center;
    align-items: center;
}

.Assignment{
    width: 30rem;
}

.btn{
    cursor: pointer;
    margin-left: 5px;
    background-color: #6601eb;
    color: #ffff;
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    border: 0px;
}

.btn:hover{
    background-color: #8932fa;
}

.btn-primary{
    width: 80px;
}

.btn-sec{
    width: 50px; 
}