.header{
    display: flex;
    align-items: center;
    height: 30px;
    background-color: #6601eb;
    color: #ffff;
    padding: 20px;
    font-size: 1.4rem;
}

.header > p{
    margin-left: 10px;
}
